// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Montserrat Alternates', sans-serif;
$font-base: 'Roboto', sans-serif;

// Colors
$color-text-dark: #000;
$color-title: #3C322D;
$color-dark-gray: #2E2520;
$color-medium-gray: #3D2C2C;
$color-pink-bright: #FD568F;
$color-primary-pink: #F3848C;
$color-accent-pink: #F86E67;
$color-accent-yellow: #EDD501;
$color-title-secondary: #BDBDBD;
$color-bg-lightest: #F6F7F7;
$color-bg-light: #FCFCFC;
$color-bg-white: #fff;



