$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Montserrat Alternates', sans-serif;
$font-base: 'Roboto', sans-serif;

// Colors
$color-text-dark: #000;
$color-title: #3c322d;
$color-dark-gray: #2e2520;
$color-medium-gray: #3d2c2c;
$color-pink-bright: #fd568f;
$color-primary-pink: #f3848c;
$color-accent-pink: #f86e67;
$color-accent-yellow: #edd501;
$color-title-secondary: #bdbdbd;
$color-bg-lightest: #f6f7f7;
$color-bg-light: #fcfcfc;
$color-bg-white: #fff;
$color-card-bg-whire: #fafbfb;
