<section class="about">
  <div class="container about__container">
    <picture class="about__image">
      <source
        srcset="
          ./images/about/donut-mobile.webp    1x,
          ./images/about/donut-mobile@2x.webp 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./images/about/donut-tablet.webp    1x,
          ./images/about/donut-tablet@2x.webp 2x
        "
        media="(max-width: 768px)"
      />
      <source
        srcset="
          ./images/about/donut-desktop.webp    1x,
          ./images/about/donut-desktop@2x.webp 2x
        "
        media="(min-width: 1280px)"
      />
      <img
        src="./images/about/donut-desktop.webp"
        alt="donuts"
        class="about__img"
      />
    </picture>

    <div class="about__content">
      <h2 class="about__content-title">About us</h2>
      <p class="about__content-text">
        Oh My Donut is the shop which adores tasty deserts and spend hours to
        create sophisticated donuts which will save the world!
      </p>
      <p class="about__content-text">
        Eva has been baking since she was six years old and over the last 49
        years, she has created hundreds of cakes for weddings and has baked for
        many celebrities. Eva and our shop have received multiple awards &
        recognition for excellence.
      </p>
      <p class="about__content-text about__content-text--hidden">
        We are going to teach you how to cook with passion and sparkles in your
        eyes! We love what we do and believe you will enjoy our cooking
        atmosphere!
      </p>
      <button class="about__button" type="button">Read more</button>
    </div>
  </div>
</section>
