<include src="./partials/socials-icons.html"></include>

<section class="contacts" id="contacts">
  <div class="container contacts__wrap" data-aos="zoom-in-up">
    <h2 class="contacts__title">Contact</h2>
    <p class="contacts__question">We will answer any question!</p>
    <form class="contacts__form" data-contact_form>
      <label class="contacts__label" for="user_emails">Email</label>
      <input
        type="email"
        name="user_email"
        class="contacts__email"
        id="user_emails"
        placeholder="Email"
        required
      />
      <label class="contacts__label" for="user_questions"
        >Type your question</label
      >
      <input
        type="text"
        name="user_question"
        class="contacts__text"
        id="user_questions"
        placeholder="Type your question"
        required
      />
      <button class="button button--position" data-open_modal>Send</button>
    </form>

    <ul class="socials">
      <li class="socials__item">
        <a
          class="socials__link"
          href="https://x.com"
          aria-label="View twitter page donut"
        >
          <svg class="socials__icon">
            <use href="#icon-twitter"></use>
          </svg>
        </a>
      </li>

      <li class="socials__item">
        <a
          class="socials__link"
          href="https://instagram.com"
          aria-label="View instagram page donut"
        >
          <svg class="socials__icon">
            <use href="#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="socials__item">
        <a
          class="socials__link"
          href="https://facebook.com"
          aria-label="View facebook page donut"
        >
          <svg class="socials__icon">
            <use href="#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="backdrop is__hidden" data-modal>
      <div class="popup">
        <button class="close__button" type="button" data-close_modal>
          &#x2715;
        </button>
        <h2 class="popup__text">
          Дякую за запитання, будь ласка почекайте відповідь.
        </h2>
      </div>
    </div>
  </div>
</section>
