<header class="header">
  <div class="container header__wrap">
    <a href="#" class="logo">
      <img class="logo__img" src="./images/logo.svg" alt="Logo donut" />
    </a>
    <div class="menu" data-menu>
      <button class="toggle-button" data-menu-toggle>
        <span class="toggle-button__line"></span>
      </button>
      <nav class="nav menu__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#about" class="nav__link">About us</a>
          </li>
          <li class="nav__item">
            <a href="#program" class="nav__link">Program</a>
          </li>
          <li class="nav__item">
            <a href="#speakers" class="nav__link">Speakers</a>
          </li>
          <li class="nav__item">
            <a href="#price" class="nav__link">Price</a>
          </li>
          <li class="nav__item">
            <a href="#reviews" class="nav__link">Reviews</a>
          </li>
          <li class="nav__item">
            <a href="#contacts" class="nav__link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
