<include src="./partials/socials-icons.html"></include>

<section class="hero">
  <div class="container">
    <h1 class="hero__title" data-aos="zoom-in-right">
      Donut Masterclass <br />
      with the Donut King
    </h1>
    <h2 class="hero__subtitle" data-aos="zoom-in"  data-aos-duration="1500">Hosted by Eva Green</h2>
    <button class="button button--position">Register</button>
    <ul class="socials">
      <li class="socials__item">
        <a class="socials__link" href="https://x.com" class="link">
        <a
          class="socials__link"
          aria-label="View twitter page donut"
          href="#"
          class="link"
        >
          <svg class="socials__icon"><use href="#icon-twitter"></use></svg>
        </a>
      </li>

      <li class="socials__item">
        <a class="socials__link" href="https://instagram.com" class="link">
        <a
          class="socials__link"
          aria-label="View instagram page donut"
          href="#"
          class="link"
        >
          <svg class="socials__icon"><use href="#icon-instagram"></use></svg>
        </a>
      </li>

      <li class="socials__item">
        <a class="socials__link" href="https://facebook.com" class="link">
        <a
          class="socials__link"
          href="#"
          aria-label="View facebook page donut"
          class="link"
        >
          <svg class="socials__icon"><use href="#icon-facebook"></use></svg>
        </a>
      </li>
    </ul>
  </div>
</section>
