<section class="price" id="price">
  <div class="container">
    <h2 class="title-heading">Price</h2>
    <ul class="cards">
      <li class="card">
        <div class="card__content">
          <h3 class="card__headline">Easy start</h3>
          <ul class="card__list">
            <li class="card__item">
              <p class="card__text">features of yeast dough preparation</p>
            </li>
            <li class="card__item">
              <p class="card__text">
                preparation of liquid caramel for stuffing
              </p>
            </li>
            <li class="card__item">
              <p class="card__text">
                preparation of raspberry and strawberry filling
              </p>
            </li>
            <li class="card__item">
              <p class="card__text">fry and glaze donuts</p>
            </li>
          </ul>
        </div>
        <div class="card__footer">
          <button class="button card__button">Register</button>
        </div>
      </li>

      <li class="card">
        <div class="card__content">
          <h3 class="card__headline">I want delicious donuts</h3>
          <ul class="card__list">
            <li class="card__item">
              <p class="card__text">features of yeast dough preparation</p>
            </li>
            <li class="card__item">
              <p class="card__text">
                preparation of liquid caramel for stuffing
              </p>
            </li>
            <li class="card__item">
              <p class="card__text">
                preparation of raspberry and strawberry filling
              </p>
            </li>
            <li class="card__item">
              <p class="card__text">melt chocolate for decoration</p>
            </li>
            <li class="card__item">
              <p class="card__text">fry and glaze donuts</p>
            </li>
            <li class="card__item">
              <p class="card__text">
                donut decoration. painting and various techniques
              </p>
            </li>
          </ul>
        </div>
        <div class="card__footer">
          <button class="button">Register</button>
        </div>
      </li>

      <li class="card">
        <div class="card__content">
          <h3 class="card__headline">Premium</h3>
          <ul class="card__list">
            <li class="card__item">
              <p class="card__text">features of yeast dough preparation</p>
            </li>
            <li class="card__item">
              <p class="card__text">
                preparation of liquid caramel for stuffing
              </p>
            </li>
            <li class="card__item">
              <p class="card__text">
                preparation of raspberry and strawberry filling
              </p>
            </li>
            <li class="card__item">
              <p class="card__text">melt chocolate for decoration</p>
            </li>
            <li class="card__item">
              <p class="card__text">fry and glaze donuts</p>
            </li>
            <li class="card__item">
              <p class="card__text">
                donut decoration. painting and various techniques
              </p>
            </li>
            <li class="card__item">
              <p class="card__text">
                after party and donut tasting with speakers
              </p>
            </li>
            <li class="card__item">
              <p class="card__text">
                2 private lessons with one of the speakers
              </p>
            </li>
          </ul>
        </div>
        <div class="card__footer">
          <button class="button">Register</button>
        </div>
      </li>
    </ul>
  </div>
</section>
