<section class="registration">
  <div class="container registration__container" data-aos="flip-down">
    <h2 class="registration__title">Registration</h2>
    <div class="registration__content">
      <div class="registration__info">
        <p class="registration__date">May 23, 11:00</p>
        <p class="registration__city">New York</p>
      </div>
      <form class="registration-form">
        <div class="registration-form__box">
          <p class="registration-text">
            Apply your personal info<br />for registration
          </p>
          <input
            type="text"
            class="registration__input"
            placeholder="Your name"
            required
          />
          <input
            type="tel"
            class="registration__input"
            placeholder="Phone number"
            required
          />
          <input
            type="email"
            class="registration__input"
            placeholder="Email"
            required
          />
        </div>
        <button class="button button--position">Register</button>
      </form>
    </div>
  </div>
</section>
