<section class="reviews">
  <div class="container reviews__wrap">
    <h2 class="reviews__text">Reviews</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="review">
            <div class="review__avatar">
              <picture>
                <source
                  srcset="
                    ./images/reviews/review1.webp    285w,
                    ./images/reviews/review1@2x.webp 570w
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/reviews/review1.png    285w,
                    ./images/reviews/review1@2x.png 570w
                  "
                  type="image/jpeg"
                />
                <img
                  class="review__img"
                  src="./images/reviews/review1.png"
                  alt="#"
                />
              </picture>
              <img
                class="review__rate"
                src="./images/reviews/rate1.svg"
                alt=""
              />
            </div>
            <div class="review__desc">
              <h3 class="review__name">John</h3>
              <p class="review__discription">
                Last time I have visited a cooking course by Eva I was impressed
                with the way she explained everything to people. You can be sure
                you will manage to cook a delicious dish even if it is your
                first time in the kitchen! Thank you so much for the
                masterclass! Looking forward to the next one and highly
                recommend it to everyone!
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="review">
            <div class="review__avatar">
              <picture>
                <source
                  srcset="
                    ./images/reviews/review2.webp    285w,
                    ./images/reviews/review2@2x.webp 570w
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/reviews/review2.png    285w,
                    ./images/reviews/review2@2x.png 570w
                  "
                  type="image/jpeg"
                />
                <img
                  class="review__img"
                  src="./images/reviews/review2.png"
                  alt="#"
                />
              </picture>
              <img
                class="review__rate"
                src="./images/reviews/rate1.svg"
                alt=""
              />
            </div>
            <div class="review__desc">
              <h3 class="review__name">Will</h3>
              <p class="review__discription">
                Last time I have visited a cooking course by Eva I was impressed
                with the way she explained everything to people. You can be sure
                you will manage to cook a delicious dish even if it is your
                first time in the kitchen! Thank you so much for the
                masterclass! Looking forward to the next one and highly
                recommend it to everyone!
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="review">
            <div class="review__avatar">
              <picture>
                <source
                  srcset="
                    ./images/reviews/review3.webp    285w,
                    ./images/reviews/review3@2x.webp 570w
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/reviews/review3.png    285w,
                    ./images/reviews/review3@2x.png 570w
                  "
                  type="image/jpeg"
                />
                <img
                  class="review__img"
                  src="./images/reviews/review3.png"
                  alt="#"
                />
              </picture>
              <img
                class="review__rate"
                src="./images/reviews/rate1.svg"
                alt=""
              />
            </div>

            <div class="review__desc">
              <h3 class="review__name">Elisabeth</h3>
              <p class="review__discription">
                Last time I have visited a cooking course by Eva I was impressed
                with the way she explained everything to people. You can be sure
                you will manage to cook a delicious dish even if it is your
                first time in the kitchen! Thank you so much for the
                masterclass! Looking forward to the next one and highly
                recommend it to everyone!
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="review">
            <div class="review__avatar">
              <picture>
                <source
                  srcset="
                    ./images/reviews/review1.webp    285w,
                    ./images/reviews/review1@2x.webp 570w
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/reviews/review1.png    285w,
                    ./images/reviews/review1@2x.png 570w
                  "
                  type="image/jpeg"
                />
                <img
                  class="review__img"
                  src="./images/reviews/review1.png"
                  alt="#"
                />
              </picture>
              <img
                class="review__rate"
                src="./images/reviews/rate2.svg"
                alt=""
              />
            </div>

            <div class="review__desc">
              <h3 class="review__name">John</h3>
              <p class="review__discription">
                Last time I have visited a cooking course by Eva I was impressed
                with the way she explained everything to people. You can be sure
                you will manage to cook a delicious dish even if it is your
                first time in the kitchen! Thank you so much for the
                masterclass! Looking forward to the next one and highly
                recommend it to everyone!
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="review">
            <div class="review__avatar">
              <picture>
                <source
                  srcset="
                    ./images/reviews/review1.webp    285w,
                    ./images/reviews/review1@2x.webp 570w
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/reviews/review1.png    285w,
                    ./images/reviews/review1@2x.png 570w
                  "
                  type="image/jpeg"
                />
                <img
                  class="review__img"
                  src="./images/reviews/review1.png"
                  alt="#"
                />
              </picture>
              <img
                class="review__rate"
                src="./images/reviews/rate2.svg"
                alt=""
              />
            </div>

            <div class="review__desc">
              <h3 class="review__name">John</h3>
              <p class="review__discription">
                Last time I have visited a cooking course by Eva I was impressed
                with the way she explained everything to people. You can be sure
                you will manage to cook a delicious dish even if it is your
                first time in the kitchen! Thank you so much for the
                masterclass! Looking forward to the next one and highly
                recommend it to everyone!
              </p>
            </div>
          </article>
        </div>
      </div>
      <div class="review__counter">
        <div class="decoration-line"></div>
        <div class="custom-pagination"></div>
        <div class="decoration-line"></div>
      </div>
    </div>
  </div>
</section>
