<section class="reviews">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="review">
            <h3 class="review__name">Person 1</h3>
            <p class="review__text">Here text from person 1</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="review">
            <h3 class="review__name">Person 2</h3>
            <p class="review__text">Here text from person 2</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="review">
            <h3 class="review__name">Person 3</h3>
            <p class="review__text">Here text from person 3</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="review">
            <h3 class="review__name">Person 4</h3>
            <p class="review__text">Here text from person 4</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="review">
            <h3 class="review__name">Person 5</h3>
            <p class="review__text">Here text from person 5</p>
          </article>
        </div>
      </div>
      <div class="custom-pagination"></div>
    </div>
  </div>
</section>
