<section class="reviews" id="reviews">
  <div class="container reviews__wrap" data-aos="zoom-in-down">
    <h2 class="reviews__text">Reviews</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="review">
            <div class="review__avatar">
              <picture>
                <source
                  srcset="
                    ./images/reviews/review1.webp    285w,
                    ./images/reviews/review1@2x.webp 570w
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/reviews/review1.png    285w,
                    ./images/reviews/review1@2x.png 570w
                  "
                  type="image/jpeg"
                />
                <img
                  class="review__img"
                  src="./images/reviews/review1.png"
                  alt="#"
                />
              </picture>
              <img
                class="review__rate"
                src="./images/reviews/rate1.svg"
                alt=""
              />
            </div>
            <div class="review__desc">
              <h3 class="review__name">John</h3>
              <p class="review__discription">
                Last time I have visited a cooking course by Eva I was impressed
                with the way she explained everything to people. You can be sure
                you will manage to cook a delicious dish even if it is your
                first time in the kitchen! Thank you so much for the
                masterclass! Looking forward to the next one and highly
                recommend it to everyone!
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="review">
            <div class="review__avatar">
              <picture>
                <source
                  srcset="
                    ./images/reviews/review2.webp    285w,
                    ./images/reviews/review2@2x.webp 570w
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/reviews/review2.png    285w,
                    ./images/reviews/review2@2x.png 570w
                  "
                  type="image/jpeg"
                />
                <img
                  class="review__img"
                  src="./images/reviews/review2.png"
                  alt="#"
                />
              </picture>
              <img
                class="review__rate"
                src="./images/reviews/rate1.svg"
                alt=""
              />
            </div>
            <div class="review__desc">
              <h3 class="review__name">Will</h3>
              <p class="review__discription">
                Last time I visited a cooking course at Donut, I was pleasantly
                surprised by how accessible and interesting the material was
                presented. You can be sure you will manage to cook delicious
                donuts even if you are a beginner in the kitchen! Thank you for
                the great masterclass! Looking forward to the next one and
                highly recommend it to everyone!
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="review">
            <div class="review__avatar">
              <picture>
                <source
                  srcset="
                    ./images/reviews/review3.webp    285w,
                    ./images/reviews/review3@2x.webp 570w
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/reviews/review3.png    285w,
                    ./images/reviews/review3@2x.png 570w
                  "
                  type="image/jpeg"
                />
                <img
                  class="review__img"
                  src="./images/reviews/review3.png"
                  alt="#"
                />
              </picture>
              <img
                class="review__rate"
                src="./images/reviews/rate1.svg"
                alt=""
              />
            </div>

            <div class="review__desc">
              <h3 class="review__name">Elisabeth</h3>
              <p class="review__discription">
                Last Sunday, I attended a cooking class at Donut and was
                delighted by the atmosphere and quality of teaching. You can be
                sure you will learn to make donuts from scratch. Thank you for
                the wonderful masterclass! Looking forward to the next one and
                highly recommend it to everyone!
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="review">
            <div class="review__avatar">
              <picture>
                <source
                  srcset="./images/reviews/review4.webp 357w"
                  type="image/webp"
                />
                <source
                  srcset="./images/reviews/review4.png 235w"
                  type="image/jpeg"
                />
                <img
                  class="review__img"
                  src="./images/reviews/review4.png"
                  alt="#"
                />
              </picture>
              <img
                class="review__rate"
                src="./images/reviews/rate2.svg"
                alt=""
              />
            </div>

            <div class="review__desc">
              <h3 class="review__name">William</h3>
              <p class="review__discription">
                Recently, I attended a donut-making course at Donut and was
                impressed by the professionalism of the instructors. You can be
                sure you will gain all the necessary skills to make delicious
                donuts. Thank you for the wonderful experience! Looking forward
                to the next class and recommend it to everyone!
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="review">
            <div class="review__avatar">
              <picture>
                <source
                  srcset="./images/reviews/review5.webp 352w"
                  type="image/webp"
                />
                <source
                  srcset="./images/reviews/review5.png 285w"
                  type="image/jpeg"
                />
                <img
                  class="review__img"
                  src="./images/reviews/review5.png"
                  alt="#"
                />
              </picture>
              <img
                class="review__rate"
                src="./images/reviews/rate2.svg"
                alt=""
              />
            </div>

            <div class="review__desc">
              <h3 class="review__name">Olivia</h3>
              <p class="review__discription">
                Last week, I attended a course at Donut and was impressed by how
                easy and fun the learning process was. You can be sure you will
                be able to make delicious donuts even if you have no experience.
                Thank you for the great experience! Looking forward to the next
                class and recommend it to everyone!
              </p>
            </div>
          </article>
        </div>
      </div>
      <div class="review__counter">
        <div class="decoration-line"></div>
        <div class="custom-pagination"></div>
        <div class="decoration-line"></div>
      </div>
    </div>
  </div>
</section>
