<section class="speakers">
  <div class="speakers__wrap">
    <h2 class="speakers__title">Speakers</h2>
    <ul class="speakers__list">
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./images/chef/chef-1.webp    288w,
              ./images/chef/chef-1@2x.webp 576w
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/chef/chef-1.png    288w,
              ./images/chef/chef-1@2x.png 576w
            "
            type="image/jpeg"
          />
          <img class="speakers__img" src="./images/chef/chef-1.png" alt="#" />
        </picture>
        <h3 class="speakers__name">Molly Rivera</h3>
        <p class="speakers__discription">
          Pastry chef, master chocolatier of Spain
        </p>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./images/chef/chef-2.webp    288w,
              ./images/chef/chef-2@2x.webp 576w
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/chef/chef-2.png    288w,
              ./images/chef/chef-2@2x.png 576w
            "
            type="image/jpeg"
          />
          <img class="speakers__img" src="./images/chef/chef-2.png" alt="#" />
        </picture>
        <h3 class="speakers__name">Sophia Clark</h3>
        <p class="speakers__discription">Сulinary school pastry chef</p>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./images/chef/chef-3.webp    288w,
              ./images/chef/chef-3@2x.webp 576w
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/chef/chef-3.png    288w,
              ./images/chef/chef-3@2x.png 576w
            "
            type="image/jpeg"
          />
          <img class="speakers__img" src="./images/chef/chef-3.png" alt="#" />
        </picture>
        <h3 class="speakers__name">Isabella Taylor</h3>
        <p class="speakers__discription">
          Сonsultant in the art of confectionery
        </p>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./images/chef/chef-4.webp    288w,
              ./images/chef/chef-4@2x.webp 576w
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/chef/chef-4.png    288w,
              ./images/chef/chef-4@2x.png 576w
            "
            type="image/jpeg"
          />
          <img class="speakers__img" src="./images/chef/chef-4.png" alt="#" />
        </picture>
        <h3 class="speakers__name">Evelyn Miller</h3>
        <p class="speakers__discription">Master- chocolatier in Spain</p>
      </li>
    </ul>
  </div>
</section>
