.about {
    padding: 20px 0px;
  }
  .about__content {
        flex: 1;
    }
  .about__content-title {
      font-family: $font-secondary;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 8px;
  }
  .about__content-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      font-family: $font-primary;
      text-align: left;
      margin-bottom: 15px;
  }
   .about__content-read-more{
      font-weight: 500;
      font-size: 18px;
      font-family: $font-primary;
      line-height: 1.1;
      display: inline-block;
      margin-top: 10px;
  }

@media (min-width: 768px){
   .about__container {
    display: flex;
    flex-direction: row;
    gap: 32px;
   }
  .about__content-title {
      font-size: 32px;
      text-align: left;
      margin-bottom: 28px;
  }
  .about__content-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      font-family: $font-primary;
      text-align: left;
      margin-bottom: 28px;
  }
   .about__content-read-more{
      font-weight: 500;
      font-size: 18px;
      font-family: $font-primary;
      line-height: 1.2;
      display: inline-block;
  }
}


  @media (min-width: 1280px){.about__content-title {
      font-family: $font-secondary;
      font-weight: 500;
      text-align: left;
      margin-bottom: 20px;
  }
  .about__content-text {
      font-weight: 400;
      font-size: 18px;
      font-family: $font-primary;
      text-align: left;
      margin-bottom: 15px;
  }
   .about__content-read-more{
      font-weight: 500;
      font-family: $font-primary;
  }
}
