.button {
  font-size: 18px;
  font-weight: 300;
  width: 145px;
  height: 40px;
  border: none;
  border-radius: 25px;
  letter-spacing: 1px;
  color: $color-bg-white;
  background-color: $color-primary-pink;
  box-shadow: 15px 17px 30px rgba(243, 132, 140, 0.3);

  transform: scale(1);
  transition-property: transform, box-shadow, background-color;
  transition-duration: 300ms, 400ms, 300ms;
  transition-timing-function: ease-in-out, linear, ease-in-out;
}

.button:hover {
  color: $color-primary-pink;
  transform: scale(0.9);
  box-shadow: 10px 12px 25px rgba(243, 132, 140, 0.7);
  background-color: $color-bg-white;
  border: 1px solid $color-primary-pink;
}

.button--position {
  display: block;
  margin: 20px auto;

  margin-top: 30px;
}

@media (min-width: 768px) {
  .button--position {
    display: block;
    margin: 20px 0;

    margin-top: 30px;
  }
}
