.contacts {
  padding: 126px 0 100px;
  background-image: url(../images/decor/decor8.svg),
    url(../images/decor/decor5.svg), url(../images/decor/decor10.svg),
    url(../images/decor/decor9.svg), url(../images/decor/decor11.svg);
  background-repeat: no-repeat;
  background-position: 14% 88%, 40% 11%, 33% 63%, 75% 37%, 87% 73%;
}

.contacts__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__title {
  font-size: 24px;
  font-weight: 600;
  color: $color-dark-gray;
  padding-bottom: 27px;
}

.contacts__question {
  font-size: 16px;
  font-weight: 400;
  color: $color-dark-gray;
  padding-bottom: 16px;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contacts__label {
  position: absolute;
  width: 0px;
  font-size: 0px;
}

.contacts__email,
.contacts__text {
  border-bottom: 1px solid $color-text-dark;
}

.contacts__email::placeholder,
.contacts__text::placeholder {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .contacts__title {
    font-size: 32px;
    font-weight: 500;
  }
}

@media (min-width: 1280px) {
  .contacts__question {
    font-size: 18px;
    font-weight: 400;
  }
}
